#Box{
    font-family: Arial, Helvetica, sans-serif;
   background-color: #230509;
   
}
.logo{
    background-color: #D2122E;
    height: 55px;
    font-size: 45px;
    margin: 0 ;
    padding: 0;
    
}
#list{
    
    margin-top: -60px;
    
}
#list ul{
    background-color: #D2122E;
}
#list ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    float: right;
    padding-right: 30px;
    margin-right: 50px;
}
#list ul a{
    color:#fff;
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;
    padding: 0 15px;
    font-weight: bold;
    display: block;
}
#list ul li{
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}
#list ul ul{
    position: absolute;
    top: 100%;
    background-color:#CD5C5C;
    left: 0;
    display: none;
}
#list ul ul li{
    float: none;
    width: 185px;

}
#list ul li:hover > ul{
    display: block;
}
#list ul li:hover{
    background-color: #A51C30;
    border-bottom: 2px solid white;
}
button{
    background-color: #fff;
   width: 30px;
   height: 27px;
   border: 2px solid #fff;
   border-radius: 3px ;
}
button:hover{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px ; 
   
}
#search{
    margin-top: 15px;
}
.container .row img{
    width: 250px;
    height: 250px;
    
}
.continer1 #sideheading h1 a{
    background-color: #230509;
    color: #ffffff;
  font-size: 30px;
    width:240px;
    height:40px;
    position:fixed;
    z-index:10;
    top:60px;
}
.continer1 #side-bar{
    height: 100%;
    position: fixed;
    left:0;
    top:40px;
    border: 2px solid white;
    height:325px;
    width:240px;
    text-align: center;
    margin-top:60px;
    background-color: #9e3040;
    
}
#side-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  
}
#side-bar ul li{
    color: #fff;
    display: block;
    
}   
#side-bar ul li a{
color: #fff;
display: block;
text-transform: uppercase;
padding: 15px;
text-decoration: none;
font-weight: bold;
border-bottom: 2px solid rgb(66, 66, 95);
border-top: 2px solid rgb(66, 66, 95);
font-size:20px;


}
.continer1 #sideheading h1 u a:hover > ul {
    display: block;
}